{% extends 'base.html' %}

{% block content %}
<div class="loginform">
    <h1>LOGIN PAGE!</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            <i class='bxr  bx-user'></i> 
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br><i class='bxr  bx-lock'></i> 
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <h5>Don't Have an account?<a href="signup">Sign_Up Here!</a> </h5> 
    </form>
</div>    

{% endblock %}
